<form [hidden]="preview" #formTask="ngForm" novalidate>
  <div class="form-group">
    <label for="username" class="control-label">Имя пользователя</label>
    <input #username="ngModel" ngModel required name="username" type="text" id="username" class="form-control">
  </div>
  <div class="form-group">
    <label for="email" class="control-label">E-mail</label>
    <input #email="ngModel" ngModel required name="email" type="email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="content" class="control-label">Текст задачи</label>
    <textarea #content="ngModel" ngModel required name="content" id="content" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="picture" class="control-label">Загрузить картинку</label>
    <input type="file" (change)="onUploadPicture($event)" required id="picture" class="form-control" accept="image/jpeg, image/jpg, image/gif, image/png">
    <ul>
      <li *ngFor="let pic of pictures">
        <img [src]="pic">
      </li>
    </ul>
  </div>
  <div>
    <button (click)="onSaveTask(formTask); formTask.reset(); pictures = []" class="btn btn-primary">Добавить</button>
    <button (click)="preview = true" class="btn btn-default">Предпросмотр</button>
  </div>
</form>
<div [hidden]="!preview">
  <div class="form-group">
    <label for="p_username" class="control-label">Имя пользователя</label>
    <span id="p_username">{{formTask.form.value.username}}</span>
  </div>
  <div class="form-group">
    <label for="p_email" class="control-label">E-mail</label>
    <span id="p_email">{{formTask.form.value.email}}</span>
  </div>
  <div class="form-group">
    <label for="p_content" class="control-label">Текст задачи</label>
    <span id="p_content">{{formTask.form.value.content}}</span>
  </div>
  <div class="form-group">
    <label for="picture" class="control-label">Картинки</label>
    <ul>
      <li *ngFor="let pic of pictures">
        <img [src]="pic">
      </li>
    </ul>
  </div>
  <div>
    <button (click)="onSaveTask(formTask); formTask.reset(); pictures = []" class="btn btn-primary">Добавить</button>
    <button (click)="preview = false" class="btn btn-default">Редактировать</button>
  </div>
</div>
